<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Recent Posts</h3>

    <%= render partial: "messages/messages", locals: { display_actions: false } %>
    <%# TODO: Add a ordered collections render iterator for recent posts  %>
  </div><!--/.well -->
</div><!--/span-->