<p id="notice"><%= notice %></p>

<h1 align="center">All Messages</h1>

<%= render partial: "messages", locals: { display_actions: true, messages: @messages } %>

<br>

<%= link_to 'New Message', new_message_path %>