<% locals = local_assigns %>
<% dir = 'tables/users/' %>
<table>
  <%= (render partial: dir + 'heading', locals: locals) if locals[:display_headings] %>

  <tbody>
    <% users.each do |user| %>
    <% local_assigns[:user] = user %>
    <% locals = local_assigns %>
    <tr>
      <%= (render partial: dir + 'name', locals: locals) %>
      <%= (render partial: dir + 'voting', locals: locals) if locals[:display_voting] %>
      <%= (render partial: dir + 'actions', locals: locals) if locals[:display_actions] %>
    </tr>
    <% end %>
  </tbody>
</table>