<div class="col-lg-4">
  <div class="well sidebar-nav">
    <h4>Followers recent messages</h4>

    <%= render partial: "messages/messages", locals: {
      display_headings: true,
      display_creator: true,
      messages: followers_messages
      } %>
  </div><!--/.well -->
</div><!--/span-->