<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Users</h3>
    <%= yield :sidebar_left %>
    <%# TODO: Add a ordered collections render iterator for users, followed first  %>
  </div><!--/.well -->
</div><!--/span-->