<div class="col-lg-2">
  <div class="well sidebar-nav">
    <h3>Following</h3>
    <table>
      <tbody>
        <% following = (current_user.votes_for.up.voters) %>

        <th>
          <%= link_to users_path, :class => "btn btn-info" do %>
          Users list
          <% end %>
        </th>
        <% following.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user), :class => "btn btn-default" do %>
            <%= user.full_name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%# TODO: Add a ordered collections render iterator for users, followed first  %>
  </div> <!--/well-->
</div><!--/span-->