<div class="col-lg-2">
  <div class="well sidebar-nav">
    <h3>Following</h3>
    <table>
      <tbody>
        <th>
          <%= link_to users_path, :class => "btn btn-info" do %>
          Users list
          <% end %>
        </th>
      </tbody>

    </table>
    <%= render partial: "users/users", locals: {
  users: (current_user.votes.up.for_type(User).votables)
  } %>
    <%# TODO: Add a ordered collections render iterator for users, followed first  %>
  </div> <!--/well-->
</div><!--/span-->