<p id="notice"><%= notice %></p>

<p>
  <strong>Likes:</strong>
  <%= @like_dislike.likes %>
</p>

<%= link_to 'Edit', edit_like_dislike_path(@like_dislike) %> |
<%= link_to 'Back', like_dislikes_path %>
