table {
	margin: auto;
}

table .btn {
  /*  Source of this fix to the buttoned table:
  http://stackoverflow.com/questions/13771101/centering-a-button-vertically-in-table-cell-using-twitter-bootstrap
  */
	horizontal-align: middle;
	display: block;
	margin: auto;
}

table td .btn {
  /* truncate any long string
  Source: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
  */
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th, td {
  padding: 0 0.25em 0.25em 0.25em
}